/* Import Fredoka google font */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Fredoka', sans-serif;
}
/* Hero */
#hero-image {
    width: 100%;
    height: 20vh;
    display: flex;
}
/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: sticky;
    z-index: 99;
    width: 100%;
    box-shadow: 0 1px 25px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    top: 0;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #252525;
    font-size: 30px;
}

p {
    font-size: 20px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu > li {
    margin-bottom: 1em;
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: #ffffff;
    width: 100%;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 10px 20px -5px #3a3a3a;
    display: none;
    top: 100%;
}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}
/* Main content */
main {
    background-color: lightblue;
    flex: 1 0 auto;
}

#info-bar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    letter-spacing: 3px;
    background-color: lightsalmon;
    justify-content: space-around;
    padding: 30px 0;
}

div > span > h2 {
    text-align: center;
}

.tours-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
}

.tours-container > div {
    height: 150px;
    background-size: cover;
    background-color: gray;
    color: #ffffff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    transition: all 0.5s ease-in;
}

.tours-container > div:hover {
    opacity: 0.7;
    transform: scale(0.98);
}

.tours-container h2 {
    font-size: 45px;
    font-weight: 300;
    margin: 10px;
}

.beating-art {
    position: relative;
    overflow: hidden;
}

.beating-art__img {
    display: block;
    width: 100%;
}

.beating-art__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000099;
    color: #ffffff;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.beating-art__overlay:hover {
    opacity: 1;

}

.beating-art__title {
    font-size: 2em;
    font-weight: bold;
}

.beating-art__description {
    font-size: 1.25em;
    margin-top: 0.25em;
}

.about-container > span {
    width: 100%;
    padding: 60px 0;
    background-color: #fafafa;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.container > div {
    height: 150px;
    background-size: cover;
    background-color: gray;
    color: #ffffff;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    transition: all 0.5s ease-in;
}

.container > div:hover {
    opacity: 0.7;
    transform: sclae(0.98);
}

.container h2 {
    font-size: 45px;
    font-weight: 300;
    margin: 10px;
}

/* Booking Form */
#booking-form {
    color: #ffffff;
    background-color: rgba(60, 60, 60, 0.6);
    padding: 30px;
}

#signup-form>h2 {
    color: #fafafa;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-radius: 2px;
    padding: 0 5px;
}

.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.join-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: #454b1b;
    color: #fafafa;
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 280%;
        line-height: 100px;
        margin: 0 0.5rem;
    }

    .tours-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }

    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
    }
}

/* Media query: tablets and larger (992px and up) */
@media screen and (min-width: 922px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    #info-bar {
        display: flex;
        letter-spacing: 3px;
        background-color: lightsalmon;
        justify-content: space-evenly;
        padding: 20px 0;
    }

}