/* Import Fredoka google font */
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* Generic project styles */
    color: #3a3a3a;
    font-family: 'Fredoka', sans-serif;
}

/* Hero */
#hero-image-section {
    width: 100%;
    height: 40vh;
    display: flex;
}

.hero-image__img {
    max-width: 100%;
    object-fit: cover;
}
/* Header */
header {
    background-color: #ffffff;
    padding: 0 1rem;
    position: sticky;
    z-index: 99;
    width: 100%;
    box-shadow: 0 1px 25px #3a3a3a;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    top: 0;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1 {
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #252525;
    font-size: 30px;
}

p {
    font-size: 20px;
}

#menu {
    font-size: 110%;
    letter-spacing: 4px;
}

#menu > li {
    margin-bottom: 1em;
}

/* Navbar styles with dropdown toggle */
nav {

position: absolute;
background-color: #ffffff;
width: 100%;
right: 0;
padding: 0 1rem;
box-shadow: 0 10px 20px -5px #3a3a3a;
display: none;
top: 100%;
text-align: center;
padding-top: 10px;

}

/* Nav toggle */
#nav-toggle:checked~nav {
    display: block;
}

#nav-toggle {
    display: none;
}

.nav-toggle-label {
    font-size: 2rem;
}
/* Main content */
main {
    background-color: whitesmoke;
    flex: 1 0 auto;
}

/* Info bar section */

#info-bar {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    letter-spacing: 3px;
    background-color: #dcd0b6;
    justify-content: space-around;
    padding: 30px 25px;
    line-height: 1.5;
    font-family: sans-serif;
    text-align: center;
    padding-top: 40px;
}

div > span > h2 {
    text-align: center;
}

.info-bar-position {
    position: relative;
    bottom: 36px;
}

/* About section */

.about-container {
    padding-bottom: 10%;
}
.about-container > span {
    width: 100%;
    padding: 60px 0;
    background-color: #fafafa;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-header {
    font-family: sans-serif;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    margin: 0 20px;
    padding-top: 10%;
    padding-bottom: 5%;
}

.about-paragraph {
    font-family: sans-serif;
    font-size: 25px;
    font-weight: lighter;
    font-style: italic;
    letter-spacing: 1px;
    margin: 0 20px;
    text-transform: none;
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;

}

/* Tours section */

.tours-title {
    font-family: sans-serif;
    font-size: 25px;
    font-style: italic;
    font-weight: bold;
    padding-top: 10%;
    padding-bottom: 10%;
    text-align: center;
    background-color: #dcd0b6;
    width: 100%;

}

.tours-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 10px;
    background-color: #dcd0b6;
}

.tours-container > div {
    height: 150px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    transition: all 0.5s ease-in;
}

.tours-container > div:hover {
    opacity: 0.7;
    transform: scale(0.98);
}

.tours-container h2 {
    font-size: 45px;
    font-weight: 300;
    margin: 10px;
}

.soho-sound {
    position: relative;
    overflow: hidden;
}

.soho-sound__img {
    display: block;
    width: 100%;
}

.soho-sound__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000099;
    color: #ffffff;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.soho-sound__overlay:hover {
    opacity: 1;

}

.soho-sound__title {
    font-size: 2em;
    font-weight: bold;
}

.soho-sound__description {
    font-size: 1.25em;
    margin-top: 0.25em;
}

.beating-art {
    position: relative;
    overflow: hidden;
}

.beating-art__img {
    display: block;
    width: 100%;
}

.beating-art__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000099;
    color: #ffffff;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.beating-art__overlay:hover {
    opacity: 1;

}

.beating-art__title {
    font-size: 2em;
    font-weight: bold;
}

.beating-art__description {
    font-size: 1.25em;
    margin-top: 0.25em;
}

.building-soho {
    position: relative;
    overflow: hidden;
}

.building-soho__img {
    display: block;
    width: 100%;
}

.building-soho__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000099;
    color: #ffffff;
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.25s;
}

.building-soho__overlay:hover {
    opacity: 1;

}

.building-soho__title {
    font-size: 2em;
    font-weight: bold;
}

.building-soho__description {
    font-size: 1.25em;
    margin-top: 0.25em;
}

/* Accessible Info Section */

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5px;
    background-color: #dcd0b6;
    padding-top: 100px;
    padding-bottom: 5px;
}

.container > div {
    height: 150px;
    background-size: cover;
    background-color: gray;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    transition: all 0.5s ease-in;
}

.container > div:hover {
    opacity: 0.7;
    transform: sclae(0.98);
}

.container h2 {
    font-size: 45px;
    font-weight: 300;
    margin: 10px;
}

/* Booking Form */
#booking-form {
    font-family: sans-serif;
    color: black;
    background-color: whitesmoke;
    padding: 30px;
}

#signup-form>h2 {
    color: black;
    margin-bottom: 20px;
}

.text-input {
    background: transparent;
    color: black;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid black;
    border-radius: 2px;
    padding: 0 5px;
}

.radio-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.book-button {
    margin-top: 20px;
    border-radius: 2px;
    padding: 15px 32px;
    font-size: 100%;
    background-color: white;
    color: black;
}

/* Footer */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
}

#social-networks i {
    font-size: 160%;
    padding: 5%;
    color: #3a3a3a;
}

/* Media query: tablets and larger (510px and up) */
@media screen and (min-width: 510px) {
     #info-bar {
        display: flex;
        justify-content: space-evenly;
    }

    .info-bar-position {
        position: relative;
        bottom: 100px;
    }

    .about-paragraph {
        padding-left: 15%;
        padding-right: 15%;
    }
}

/* Media query: tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;
    }

    #menu {
        display: flex;
    }

    #menu > li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    #logo {
        font-size: 160%;
        line-height: 100px;
        margin: 0 0.5rem;
    }

    .tours-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
    }

    .tours-container > div {
        height: 300px;
    }

    .soho-sound__img {
        height: 100%;
        object-fit: cover;
    }

    .beating-art__img {
        height: 100%;
        object-fit: cover;
    }
        
    .building-soho__img {
        height: 100%;
        object-fit: cover;
    }
        

    .container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 10px;
    }
}

/* Media query: tablets and larger (992px and up) */
@media screen and (min-width: 922px) {
    #menu a:hover {
        border-bottom: 1px solid #3a3a3a;
    }

    #info-bar {
        display: flex;
        letter-spacing: 3px;
        justify-content: space-evenly;
        padding: 20px 0;
    }

}